<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Fruit Picker</title>
	</head>
	<body>
		<form action="/favorite_fruit" method="POST" accept-charset="utf-8">
			<p>What is your favorite fruit?</p>
			<br>
			{% for fruit in fruits  %}
			<input type="radio" name="fruit" id="fruit">
			{% endfor  %}
			<p><input type="submit" value="Continue →"></p>
		</form>
	</body>
</html>
