<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>express w/ get</title>
	</head>
	<body>
		<h1>Hello, {{name}}, here are your GET variables</h1>
		<ul>
			<li>{{getvar1}}</li>
			<li>{{getvar2}}</li>
		</ul>
	</body>
</html>
