<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>movies duder</title>
	</head>
	<body>
		<h1>Movies</h1>
		<ul>
			{% for movie in movies %}
			<li><a href="http://www.imdb.com/title/{{movie.imdb}}" target="_blank">{{movie.title}} , {{movie.year}}</a></li>
			{% else %}
			<li>No movies found.</li>
			{% endfor %}
		</ul>
	</body>
</html>
